*~
*.o
*.lo
*.la
.deps
.libs
/jabberd14/INSTALL
/jabberd14/m4
configure
config.log
config.h
config.h.in
Makefile
Makefile.in
/jabberd14/aclocal.m4
/jabberd14/autom4te.cache/
/jabberd14/compile
/jabberd14/config.guess
/jabberd14/config.lt
/jabberd14/config.status
/jabberd14/config.sub
/jabberd14/depcomp
/jabberd14/install-sh
/jabberd14/libtool
/jabberd14/ltmain.sh
/jabberd14/missing
/jabberd14/stamp-h1
/jabberd14/jabberd/jabberd
